.App {
  padding-top: 5vh;
  padding-bottom: 10vh;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.modo {
  text-align: center;
  margin: 10px;
}

#instrucciones {
  text-align: center;
  margin: 10px;
}
