.black {
  background-color: #000;
}

.piece {
  border-radius: 50%;
  width: 80%;
  height: 80%;
  margin: auto;
  border: 1px solid black;
}

.fixed .piece.black {
  border: 4px solid gray;
  background-color: gray;
}

.fixed .piece.white {
  border: 4px solid gray
}
